:root {
  --primary-color: #e50914;
  --dark-color: #141414;
  --light-color: #f4f4f4;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
  background: #000000;
  color: #999;
}

.container::before {
  content: "";
  position: absolute;
  background: url(images/1.jpg) no-repeat center center/cover;
  height: 672px;
  width: 100%;
  opacity: 0.4;
  z-index: -1;
}
.container::before .navbar {
  height: 100px;
  display: flex;
}
.container::before .navbar .left {
  height: 95%;
  display: flex;
  float: left;
}

.container .navbar .left img {
  margin-top: 25px;
  margin-left: 16px;
  height: 45px;
  position: absolute;
  left: 35px;
}

.container .navbar .right {
  display: flex;
  height: 100px;
  float: right;
  position: absolute;
  right: 50px;
}

.container .navbar .right .language {
  margin: auto;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 7px 10px;
  color: #f4f4f4;
  background: none;
  cursor: pointer;
  margin-right: 15px;
}

.container .navbar .right .language .option {
  background-color: #999;
}

.container .navbar .right button {
  margin: auto;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  padding: 7px 17px;
  cursor: pointer;
  background: #e50914;
  outline: none;
  border-radius: 4px;
  border: none;
}

.container .navbar .right a {
  text-decoration: none;
  color: #f4f4f4;
}

.container .title {
  padding: 70px 45px;
}

.container .title .content {
  color: #f4f4f4;
  width: 950px;
  margin: auto;
  margin-top: 65px;
  padding: 75px 0;
  text-align: center;
}

.container .title .content h1 {
  width: 600px;
  margin: auto;
  margin-top: -17px;
  text-align: center;
  font-size: 3.125rem;
}

.container .title .content h2 {
  width: 600px;
  margin: 1rem auto;
  text-align: center;
  font-size: 1.625rem;
}

.container .title .content form h3 {
  text-align: center;
  font-size: 20px;
  margin: 18px 0;
  font-weight: 400;
}

.container .title .content form .email {
  overflow: auto;
  margin: auto;
}

.container .title .content form .email input {
  height: 60px;
  width: 480px;
  margin: auto;
  padding: 20px;
  font-size: 16px;
  outline: none;
}

.container .title .content form .email button {
  margin: -4px;
  height: 60px;
  width: 180px;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  border: none;
  background: #e50914;
  cursor: pointer;
}

.container .title .content form .email button:hover {
  opacity: 0.8;
}

.container .title .content form .email button a {
  text-decoration: none;
  color: #f4f4f4;
}

.mid-gap {
  height: 8px;
  width: 100%;
  background-color: rgb(36, 36, 36);
}

.enjoy {
  height: 472px;
  width: 100%;
  position: relative;
  background-color: #000000;
}

.left-section {
  margin-top: 123px;
  padding: 40px;
  padding-left: 150px;
  width: 50%;
  float: left;
  justify-content: center;
  align-items: center;
}

.left-section h1 {
  line-height: 1.1;
  margin-bottom: 1.5rem;
  font-size: 3.125rem;
  color: #f4f4f4;
}

.left-section h2 {
  font-size: 1.625rem;
  font-weight: 400;
  color: #f4f4f4;
  margin: auto;
}

.right-section {
  width: 50%;
  margin: auto;
  float: right;
}

.ing {
  height: 20px;
  z-index: 2;
  margin-left: 20px;
  margin-bottom: 30px;
}

.mid-gap {
  height: 8px;
  width: 100%;
  background-color: rgb(36, 36, 36);
}

.down {
  width: 100%;
  height: 452px;
  background: #000000;
  position: relative;
}

.downsec {
  width: 100%;
  height: 100%;
}

.down .left-down {
  width: 50%;
  justify-content: center;
  align-items: center;
  float: left;
}

.down .left-down .simage {
  height: 100%;
  display: block;
}

.down .left-down .simage img {
  margin-top: 17px;
  height: 360px;
  margin-left: 82px;
}

.card-down {
  align-items: center;
  background: #000;
  border: 2px solid hsla(0deg, 0%, 100%, 0.25);
  border-radius: 0.75em;
  bottom: 8%;
  box-shadow: 0 0 2em 0 #000;
  display: flex;
  left: 23%;
  margin: 0 auto;
  margin-bottom: 45px;
  min-width: 15em;
  position: absolute;
  transform: translateX(-50%);
  width: 330px;
  height: 100px;
}

.card-down .strpic {
  float: left;
  padding: 10px;
}

.card-down .strpic img {
  height: 75px;
}

.card-down .strnotes {
  float: left;
  padding-left: 20px;
  align-items: center;
  justify-content: center;
}

.card-down .strnotes h3 {
  color: #f4f4f4;
  margin-bottom: 10px;
  font-weight: 400;
}

#download {
  text-decoration: none;
  color: rgb(32, 32, 177);
}

.downbtn {
  float: left;
}

.downbtn img {
  height: 65px;
  margin-left: 20px;
}

.right-down {
  width: 50%;
  justify-content: center;
  align-items: center;
  float: right;
  color: #f4f4f4;
  font-weight: 400;
  padding: 75px;
  padding-left: 10px;
}

.mainr {
  margin-top: 50px;
  text-align: left;
  justify-content: center;
}
.mainr h1 {
  font-size: 3.2rem;
  margin-bottom: 0.5rem;
  line-height: 1.1;
}

.secr {
  text-align: left;
  justify-content: baseline;
  font-size: 1.625rem;
}
.secr h3 {
  font-weight: 400;
}

.watch {
  height: 492px;
  width: 100%;
  position: relative;
  background-color: #000000;
}

.list {
  width: 100%;
  height: 75rem;
}
.list .lists {
  height: 279px;
}
.list .lists h1 {
  font-size: 50px;
  font-weight: 500;
  color: #f4f4f4;
  text-align: center;
  margin-top: 70px;
  justify-content: center;
}
.list .lists .accodian {
  margin: 60px auto;
  width: 800px;
}
.list .lists .accodian li {
  list-style: none;
  width: 100%;
  margin-bottom: 10px;
  background: rgb(36, 36, 36);
  color: #f4f4f4;
  padding: 10px;
}
.list .lists .accodian li label {
  padding: 10px;
  justify-content: space-between;
  text-align: center;
  display: flex;
  font-size: 30px;
  font-weight: 400;
  border-bottom: solid 1px rgb(65, 65, 65);
}
.list .lists .accodian li label span {
  transform: translateY(-50%);
  font-size: 40px;
}
.list .lists .accodian li label + input[type=radio] {
  display: none;
}
.list .lists .accodian li .content {
  padding: 0 10px;
  line-height: 38px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}
.list .lists .accodian li label + input[type=radio]:checked + .content {
  max-height: 1200px;
}
.list .lists .accodian li p {
  font-size: 25px;
  font-weight: 450;
  text-align: left;
}
.list .email2 {
  width: 100%;
  height: 250px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.list .email2 h3 {
  text-align: center;
  font-size: 20px;
  margin: 18px 0;
  font-weight: 400;
  color: #f4f4f4;
}
.list .email2 form .email {
  overflow: auto;
  margin: auto;
  margin-left: 380px;
  width: 680px;
  height: 70px;
}
.list .email2 form .email input {
  height: 60px;
  width: 480px;
  margin: auto;
  padding: 20px;
  font-size: 16px;
  outline: none;
}
.list .email2 form .email button {
  margin: -4px;
  height: 70px;
  width: 180px;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  border: none;
  background: #e50914;
  cursor: pointer;
}
.list .email2 form .email button a {
  text-decoration: none;
  color: #f4f4f4;
}
.list .email2 form .email button:hover {
  opacity: 0.8;
}

.footer {
  width: 70%;
  display: flex;
  text-align: left;
  justify-items: center;
  background: #000000;
  color: #999999;
  margin: 1rem auto;
  overflow: auto;
  margin-left: 220px;
}
.footer ul {
  list-style-type: none;
}
.footer a {
  color: #999999;
  font-size: 0.9rem;
  text-decoration: none;
}
.footer p {
  margin-bottom: 1.5rem;
  text-align: center;
  justify-items: center;
  position: absolute;
  margin-left: 30px;
}
.footer .foot {
  display: grid;
  grid-template-columns: r repeat(4, 1fr);
  grid-gap: 2rem;
  margin: 40px;
}
.footer li {
  line-height: 2.4;
}

.lan .right .language {
  margin: auto;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 7px 10px;
  color: #f4f4f4;
  background: black;
  cursor: pointer;
  margin-left: 250px;
  margin-bottom: 20px;
}
.lan p {
  margin-left: 250px;
  margin-bottom: 40px;
}/*# sourceMappingURL=style1.css.map */